@import "tailwindcss";

:root {
  --red-900: #7f0000;
  --red-800: #9b0000;
  --red-700: #b91c1c;
  --red-600: #c0392b;
  --red-500: #e53935;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-inter), sans-serif;
}

/* Scrollbar customizada */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.2); border-radius: 3px; }
